<%= form_with url: search_customers_path, method: :get do |f| %>
<%= f.label :query, "Busca"%>
<%= f.text_field :query %>
<%= f.submit "Buscar" %>
<% end %>
<h2>Lista De Clientes</h2>

<%= link_to  "Cadastrar", new_customer_path %>

<% if @customers.present? %>
<% @customers.active.each do |customer|  %>
  <%=link_to customer.full_name, customer%>
  Aniversário: <%= I18n.l(customer.birthday) %>
  Email: <%= customer.email %>

<% end %>
<% else %>
  <p>Não existem clientes cadastrados!</p>
<% end %>