<h2>Cadastre um novo cliente</h2>


<% if @customer.errors.any? %>
  <p>Verifique os erros abaixo</p>
  <ul>
  <% @customer.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>


<%= form_with(model: @customer, data: {turbo: false}) do |f|  %>
  <div>
    <%= f.label :name%>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :last_name%>
    <%= f.text_field :last_name %>
  </div>
  <div>
    <%= f.label :email%>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :cellphone%>
    <%= f.telephone_field :cellphone%>
  </div>
  <div>
    <%= f.label :birthday%>
    <%= f.date_field :birthday %>
  </div>
  <div>
    <%= f.label :street%>
    <%= f.text_field :street%>
  </div>
  <div>
    <%= f.label :number%>
    <%= f.text_field :number%>
  </div>
  <div>
    <%= f.label :complement%>
    <%= f.text_field :complement%>
  </div>
  <div>
    <%= f.label :district%>
    <%= f.text_field :district%>
  </div>
  <div>
    <%= f.label :city%>
    <%= f.text_field :city%>
  </div>
  <div>
    <%= f.label :state%>
    <%= f.text_field :state%>
  </div>
  <div>
    <%= f.submit %>
  </div>
  <% end %>