<h2>Cadastre um novo cliente</h2>

<%= form_with(model: @customer) do |f|  %>
  <div>
    <%= f.label :name%>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :last_name%>
    <%= f.text_field :last_name %>
  </div>
  <div>
    <%= f.label :email%>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :e%>
    <%= f.email_field :email %>
  </div>
  <% end %>