<h1>Descrição Cliente</h1>

<%= @customer.full_name %>
Email: <%= @customer.email %>
Telefone: <%= @customer.cellphone %>
Endereço: <%= @customer.address %>
Aniversário: <%= I18n.l(@customer.birthday)%>

<p><%= link_to 'Editar', edit_customer_path, class: 'btn-blue' %></p>
<%= button_to 'Deletar',{}, {class: 'btn-blue'}%>