<!DOCTYPE html>
<html>
  <head>
    <title>CustomersApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <h1 class= "text-3xl text-blue-400 font-bold underline">Cheia de Charme</h1>
    <div class= "menu"> 
      <%= link_to "Início", root_path %>
    </div>

    <%= notice %>
    <%= alert %>
    <%= yield %>

  </body>
</html>
